fastapi==0.116.1
uvicorn[standard]==0.35.0
pydantic==2.11.7
pandas==2.3.2
numpy==2.3.2
scikit-learn==1.7.1
joblib==1.5.1
python-multipart==0.0.20
geopandas==1.1.1
shapely==2.1.1
pyproj==3.7.2
rasterio==1.4.3

requests==2.32.5
